.products {
    padding: 50px 0;
}

main li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
}

main li:hover {
    border-color: #C78C19;
}

main li:active {
    border-color: green;
}

main li:hover h2 {
    font-size: 34px;
}

main h2{
    font-size: 30px;
    font-weight: bold;
}

.productDescription {
    font-size: 18px;
}

.productPrice{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("../images/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
