main {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#banner {
    width: 100%;
}

.about {
    background-color: #FEFEFE;
    padding: 30px;
    width: 940px;
    margin: 0 auto;
}

.mainTitle {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
} 

.about p {
    margin: 0 0 1em;
}

.about strong {
    font-weight: bold;
}

.about em {
    font-style: italic;
}

#missao {
    font-size: 20px;
}

.location {
    padding: 3em 0; 
    background: linear-gradient(#FEFEFE, #888888)
}

.contentLocation {
    width: 940px;
    margin: 0 auto;
}

.location p {
    margin-bottom: 2em;
    text-align: center;
}

.beneficios{
    padding: 20px;
    background-color: #888888;
}

.contentBeneficios{
    width: 640px;
    margin: 0 auto;
}

.listaBeneficios {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.items{
    line-height: 1.5em;
    font-style: italic;
}

.items:first-child{
    font-weight: bold;
}

.items::before{
    content: "★ ";
}

.imgBeneficios{
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 5px 10px 5px rgba(0,0,0,0.5) ;
}
.imgBeneficios:hover{
    opacity: 0.3;
}


.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .header, .contentLocation, .contentBeneficios, .video {
        width: auto;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
}